@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,400&family=Rozha+One&display=swap");

body {
  font-family: 'Rozha One', serif;
  margin: 0px auto;
  max-width: 85%;
  width: 100%;
  background-color: rgb(192, 183, 183);

}

.container {
  padding: 0rem 1rem;
}

.containerCenter {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link1 {
  max-width: 140px;
  padding: 0.6rem 1.2rem;
  background-color: #000000;
  color: #fff;
  margin: 1rem auto;
  border-radius: 2rem;
}

.link:hover {
  background-color: #75a4e1;
  border-radius: 2rem;
}

.link2 {
  max-width: 140px;
  margin: 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 2rem;
  border: 1px solid #682b08;
  color: #75a4e1;
}

.link2:hover {
  background-color: rgb(223, 240, 72);
}

.listBullet {
  list-style: none;
  padding-inline-start: 0px;
}

.listItemInline {
  display: inline;
  padding: 0rem 0.5rem;
}



.navigation {
  background-color: #7d6081;
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navigation .navName {
  font-weight: bold;
}

.navName a {
  text-decoration: none;
  color: inherit;
}

.navigation .navMain {
  text-align: right;
  margin: 0.5rem 0rem;
}

.navigation .link {
  color: white;
}

.navigation .activePage {
  font-weight: bold;
  background-color: #75a4e1;
  border-radius: 1rem;
}


.mainHeader {
  padding: 2rem;
  padding-top: 5rem;
}

.mainHeader .mainHeader-img {
  max-width: 80%;
  width: 550px;
  display: block;
  margin: auto;
}

.mainHeader .mainHeader-heading {
  text-align: center;
  padding-top: 1rem;
  color: #6b7280;
}

.mainHeader .mainHeader-heading .headingBold {
  color: #083268;
}

.section {
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 1rem;
  text-align: center;
}

.section h1 {
  text-align: center;
}

.box {
  background-color: #f3f4f6;
  box-shadow:-13px -1px 9px 4px
}

.footer {
  background-color: #7d6081;
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.footer .link {
  color: white;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

.mainListBox {

  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  margin: 3rem auto;
}

.mainListBox h1 {
  margin: 0.5rem;
}

.mainListBox p {
  padding-bottom: 1rem;
}

.mainListBox-blog {
  padding-bottom: 6rem;
  border: 2px solid black;
  padding: 3rem;
  border-radius: 5rem;
  margin-bottom: 2rem;
  text-align: center;
  background-color: #6b7280;
}
